<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cardápio TNC</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>

    <header>
      <nav>
        <img class="logo.img" src="../images/Logo_TNC - Espetto Bar-1.png" alt="" height="100%">

        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li><a href="../views/Novidades.html">Novidades</a></li>
          <li><a href="../views/Porcoes.html">Porções</a></li>
          <li><a href="../views/Espettinhos.html">Espettinhos</a></li>
          <li><a href="../views/Cervejas.html">Cervejas</a></li>
          <li><a href="../views/Drinks.html">Drinks</a></li>
          <li><a href="../views/Doses.html">Doses</a></li>
          <li><a href="../views/Beats.html">Beats</a></li>
          <li><a href="../views/Energeticos.html">Energéticos</a></li>
          <li><a href="../views/RefrigerantesAgua.html">Refrigerantes e Água</a></li>
          <li><a href="../views/Combos.html">Combos</a></li>
          <li><a href="../views/Outtros.html">Outtros</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div>
        <h2>@alysson.2000</h2>
      </div>
      <div class="menu-itens">
        <h1>Combos</h1>
        <table class="table">
          <thead class="thead-light">
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Combo de Smirnoff</td>
              <td>R$180,00</td>
              <td><img class="img-item" src="../images/comboSmirnoff" alt=""></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td> </td>
              <td> </td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    <script src="../script/mobile-navbar.js"></script>
  </body>
</html>